
//@theme "/home/michele/.local/share/rofi/themes/windows11-grid-dark.rasi"

//@theme "/home/michele/.local/share/rofi/themes/squared-material-red.rasi"

@theme "/home/michele/.local/share/rofi/themes/m-theme.rasi"
